# Logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# TypeORM Configuration
ormconfig.json

dist

# IDE
**/.idea

# OS
.DS_Store
.tmp
